body {
	background-color: white;
	font-family: tahoma;
}

.noMargin{
    margin: 0;
    text-indent: 1%;
}
.okImg{
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 5px;
    margin-top: 2px;
}

.ok{
    border: 1px solid grey;
    background-color: rgba(173, 255, 47, 0.45);
    width: 100%;
    margin-bottom: 1%;
    overflow: hidden;
}

.error{
        border: 1px solid grey;
        background-color: rgba(255, 0, 0, 0.3);
        width: 100%;
        margin-bottom: 1%;
        overflow: hidden;
}

.fade {    
    color: rgba(109, 109, 109, 1);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.fade:hover, .fade:focus, .fade:active {
	background-color: rgba(150, 172, 60, 0.92);;
	color: white;
    text-decoration: none;
}
header img{
	width: 100%;
	height: 80%;	
}

#head {
	width: 100%;
	height: 15%;
	background-color: rgba(128, 128, 128, 0.22);
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 5px;
}

#logo1{
	width: 25%;
	float: left;
	margin-top: 0.5%;
}

#menu1 {
	width: 60%;
    height: 100%;
    text-align: center;
    float: left;
    display: table;
    overflow: hidden;    
}

#menu1 a{
	color: rgba(109, 109, 109, 1);
	text-decoration: none;
	font-size: 25px;
	font-family: tahoma;
	border-radius: 25px 25px 25px 25px;	
	padding: 7px;
	margin-right: 2%;
	margin-left: 2%;
}
#menu1 a:hover{
	color: white;	
}

#menu1Options{
	width: 75%;
    height: 50%;    
    display: table-cell;
    vertical-align: middle;
}

#contenedor{
	width: 100%;	
	background-color: rgba(128, 128, 128, 0.22);
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 5px;
	margin-top: 10px;
}

#back{
	width: 10%;
	padding-bottom: 1%;	
}

#button{	
	background-color: rgba(150, 172, 60, 0.92);
	color: white;
	text-decoration: none;
	border-radius: 20px 20px 20px 20px;	
	font-size: 18px;
	padding: 2px 5px 2px 5px;
    cursor: pointer;
    display: inline-flex;
}
.button{	
	background-color: rgba(150, 172, 60, 0.92);
	color: white;
	text-decoration: none;
	border-radius: 20px 20px 20px 20px;	
	font-size: 18px;
	padding: 2px 5px 2px 5px;
    cursor: pointer;
    display: inline-flex;
}

#button:hover{
    background-color: rgba(140, 160, 56, 0.92);
}

#fadeButton{
	text-decoration: none;
	border-radius: 20px 20px 20px 20px;
	font-size: 18px;
	padding: 5px 5px 5px 5px;
}

#backButton{
	text-decoration: none;
	border-radius: 20px 0px 0px 20px;
	font-size: 18px;
	padding: 5px 5px 5px 5px;
}

#content{
	width: 60%;	
	margin: auto;
	padding-bottom: 1%;
	padding-top: 1%;

}

#buscador{
	width: 60%;
	height: 8%;
	margin: auto;
	padding-top: 1%;    
}

#buscadorForm{
	margin: auto;
	width: 80%;
    height: 80%;    
}

#buscadorForm form input[type="text"]{
	width: 85%;
    height: 100%;
    font-family: tahoma;
    font-size: 15px;
}

#buscadorForm form input[type="submit"]{
        width: 14%;
        height: 100%;
        font-family: tahoma;
        font-size: 15px;
}

#loginPanel{
        width: 15%;
        height: 50%;
        float: right;        
        font-family: tahoma;
}

#texto1 {
        line-height: 3;
        text-align: center;
}

#texto1 a{
    border-radius: 25px 25px 25px 25px;
    padding: 5px;    
}

#texto2{
    text-align: center;
}

footer {
        width: 100%;
        height: 5%;
        background-color: rgba(128, 128, 128, 0.22);
        border-radius: 5px 5px 5px 5px;
        margin-bottom: 5px;
        margin-top: 10px;
        font-family: tahoma;
}
#footer{
        width: 70%;
        height: 100%;
        border-top: 1px solid grey;
        margin: auto;
        text-align: center;
}

table{
	width: 100%;
	border: 2px solid grey;
	margin: auto;
	padding: 5px;
	text-align: center;
	border-spacing: 0px 15px;
}
table tr{
	border: 2px solid #000;
}
table a{
	color: black;
}

#tableError{
	width: 35%;
	margin: auto;
}

td form{
    margin-bottom: 0;
}

#info{
	border: 1px solid grey;
	width: 100%;
	padding: 2%;
	overflow: hidden;
}

/*MOSTRAR COUCH*/

#title{
	width: 85%;
	height: 7%;
    float: left;
}

#title h3{
    border-bottom: 1px solid grey;
    margin: 0;
    font-size: 100%;
    text-indent: 1%;
    font-weight: bold;
}

#title p{
	border-bottom: 1px solid grey;
	margin: 0;
	font-size: 150%;
	text-indent: 1%;
    font-weight: bold;
}

#buttons{
    width: 100%;
    overflow: hidden;
}

#subtitle{
    float: left;
    border-bottom: 1px solid grey;
    font-weight: bold;
    margin: 0;
}
#sub{
    width: 100%;
    margin-left: 1%;
    margin-bottom: 1%;
    overflow: hidden;
    float: left;
}
.subtitle{
    font-size: 120%;
    font-weight: bold;
    border-bottom: 1px solid grey;
    margin: 0;
    text-indent: 1%;
}

/*DETALLES DE PUBLICACION*/

#requestForm{
    float: right;
}

#myRequests{
    float: left;
}

#couchButton{
    float: right;
    padding: 1%;
}

#img{	
	border: 1px solid grey;
        padding: 1%;
	width: 40%;
	height: 45%;
	float: left;
}

#img img{
	width: 100%;
	height: 100%;
	border: 1px solid grey;
}

#galery{
    width: 90%;
    height: 15%;
    overflow: hidden;
    border: 1px solid grey;
    margin-top: 2%;
    padding: 1%;
    margin: auto;
}

#galeryIMG{
    border: 1px solid grey;
    width: 15%;
    padding: 0%;
    height: 100%;
    display: inline-flex;
}

.thumbnail{
    width: 100%;
    height: 100%;
}

#couchDetails{
    margin-bottom: 2%;
    width: 100%;
    overflow: hidden;
}

#profileDetails1{
	float: left;
	margin-left: 2%;
	width: 25%;
}
#profileDetails1 p{
	font-weight: bold;
}
#profileDetails2{
    float: left;
    margin-left: 10%;
    width: 25%;
}

#profileDetails2 p{
	
}

#details1{
	float: left;
	margin-left: 2%;
	width: 13%;
}

#details2{
	float: left;
	margin-left: 5%;
	width: 35%;
}

/*PREGUNTAS Y RESPUESTAS*/

#deleteAnswerButton{
    float: right;
}

#questions{
    padding-top: 3%;
    width: 80%;
    overflow: hidden;
    margin: auto;
}

#noQuestions{
    border: 1px solid gray;
    background-color: rgba(247, 188, 40, 0.46);
    width: 100%;
    overflow: hidden;
}

#noQuestions p{
    text-indent: 1%;
    margin: 0;
}

.questionBox{
    width: 100%;
    max-width: 100%;
    max-height: 25%;
    font-family: tahoma;
    margin-bottom: 1%;    
    resize: none;
}

.qname{
    font-size: 75%;
    font-weight: bold;
    margin: 0;
    display: inline;
}

.qtext{
    font-size: 80%;
    margin: 0;
    text-indent: 3%;
}

.qdate{
    font-size: 65%;
    margin: 0;
}

#questionItem{
    border: 1px solid grey;
    background-color: rgba(195, 192, 192, 0.61);
    margin-bottom: 1%;
    text-indent: 1%;
    padding: 1%;
}

#answerItem {
    background-color: rgba(225, 225, 225, 0.72);
    border: 1px solid grey;
    padding: 1%;
    margin-left: 5%;
    margin-top: 2%;
}

/*MODIFICAR PERFIL*/

#editProfile{
    width: 50%;
    overflow: hidden;
    margin: auto;

}
#editProfileForm{
    width: 50%;
    margin: auto;
}
#editProfileForm input[type="text"], input[type="date"]{
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

#editProfileButtons{
        width: 105%;
        margin: auto;
        margin-top: 4%;
}

#okUpdate{
    width: 100%;
}
#alertUpdate{
    overflow: hidden;
    float: left;
    width: 100%;
    border: 1px solid black;
    background-color: rgba(255, 165, 0, 0.31);
    margin-bottom: 1%;
}

/*SER PREMIUM*/

#premiumDescription{
    overflow: hidden;
    float: left;
    width: 100%;
    margin-bottom: 2%;
}

#premiumButton{
    width: 22%;
    margin: auto;
    padding-bottom: 3%;
}

#premiumForm{
    width: 55%;
    margin: auto; 
    text-align: center;
}

#premiumForm form{
    width: 100%;
    text-align: center;
    border: 1px solid grey;
    padding: 2%;
}
#premiumForm form label{
    float: left;
}
#premiumForm form input[type="submit"]{
    margin:auto;
    width: 20%;
}

#formItem{
    width: 100%;
    height: 6%;
    overflow: hidden;    
}

.formLabel {
        float: left;
}

.formInput{
    float: right;
    width: 55%;
}

.formInput input{
    width: 100%;
}

.formInput select{
    width: 100%;
}

.formInput textarea{
    width: 100%;
    height: 10%;
    resize: none;
    font-family: tahoma;
}

#formTextarea{
    width: 100%;
    margin-bottom: 2%;
    overflow: hidden;
}

.backend_container{
	float:left;
	display: block;
	width: auto;
	text-align: center;
	margin: auto;
}

.texto_biselado {
	text-shadow: 1px 1px 0px #fff;
	font-weight: bold;
}

/*BACKEND PRIVADO*/

#backmenu{
        width: 100%;
        height: 5%;
        overflow: hidden;
        float: left;        
}

#backmenuItem{
        display: inline-flex;
}

/* LOGIN FORM*/

#loginSection{
        overflow: hidden;
        width: 30%;
        margin: auto;
}

#recoveryButton{
        width: 23%;
        margin: auto;
        margin-top: 2%;
}

#passRecovery{
        width: 30%;
        margin: auto;
}

#loginSection form{
        width: 75%;
        margin: auto;
        border: 1px solid grey;
        padding: 2%;
}
#loginSection form input[type="email"], #loginSection form input[type="text"], #loginSection form input[type="password"]{
        width: 100%;
        height: 4%;
}

#loginSubmit{
        margin: auto;
        width: 53%;
        margin-top: 5%;
}

#authError{
        width: 30%;
        margin: auto;
        margin-bottom: 2%;
}

.label{
        margin-bottom: 1%;
}
/* REGISTER FORM*/

#registerSection{
    width: 55%;
    margin: auto;
    overflow: hidden;
}

#registerSection form{
        width: 95%;
        border: 1px solid grey;
        padding: 2%;
}

/* RECUPERAR CONTRASEÑA*/

#recoveryForm{
       width: 30%;
       margin: auto;
}

/* CREAR PUBLICACION DE COUCH*/

#formFiles{
    width: 100%;
}

#couchSubmit{
    margin: auto;
    width: 44%;
    overflow: hidden;
    padding-top: 1%;
}

.formError{
    background-color: #BC1010;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    position: absolute;
}

.formError:before{
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}

/* EDITAR COUCHS */

#editIMG{
    width: 95%;
    border: 1px solid grey;
    padding: 2%;
    overflow: hidden;
}

#editButton{
    margin-left: 5%;
    line-height: 3;
}

#couchEdit{
    width: 55%;
    margin: auto;
    overflow: hidden;
}

#registerSection img{
    border: 1px solid grey;
    padding: 2%;
}

#registerSection form input[type="file"]{
    width: 45%;
}

#gallery{
    width: 95%;
    overflow: hidden;
    border: 1px solid grey;
    margin-top: 2%;
    padding: 1%;
    margin: auto;
}

#galleryIMG{
    display: inline-flex;
    width: 20%;
}

#imgSubmit{
    margin: auto;
    width: 42%;
    overflow: hidden;
    padding-top: 1%;
}

#imgEdit{
    overflow: hidden;
    width: 100%;
    float: right;
    display: inline-flex;
    margin-bottom: 2%;
    margin-top: 2%;
}

#infoSubmit{
    margin: auto;
    width: 45%;
    padding-top: 1%;
}

.imgLabel{
    width: 100%;
    text-align: left;
    margin-bottom: 2%;
}

#addIMGButton{
    width: 34%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 2%;
    padding-top: 2%;
}

.filtro{
    float: left;
}

#search_container{
    padding:20px;
    display: inline;
    margin:auto;
    width: 100%;
}
.caja_search{
    clear:both;
}

.search_form{
    margin: auto;
    display: inline-block;
}

.center{
    text-align: center;
}

#formSection{
    width: 60%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

/*SOLICITUDES ENVIADAS*/

.pendingItem{
    background-color: rgba(255, 234, 0, 0.62);
    border-radius: 10px 10px 10px 10px;
}

.acceptedItem{
    background-color: rgba(173, 255, 47, 0.67);
    border-radius: 10px 10px 10px 10px;
}

.rejectedItem{
    background-color: rgba(255, 0, 0, 0.63);
    border-radius: 10px 10px 10px 10px;
}

/* VER PERFIL */

#profileDetails{
    width: 100%;
    overflow: hidden;
}

/* VER PUNTAJE */

#rating{
    width: 50%;
    margin: auto;
}